##################
##  AWS Flags   ##
##################
SKIP_PERSISTENT_SCRIPTS=0


##################
##  PostgreSQL  ##
##################

db_user=
password=

# Specify the IP/URL and TCP port of the server
host=
port=

database=
sslmode=prefer

################
##  API Keys  ##
################

# Financial Modeling Prep Key
FMP_API_KEY=

# Alpha Vintage key
ALPHA_KEY=

APIFY_KEY=